


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<header>
    <div class="logo">Health Insight</div>
    
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <button type="submit">Search</button>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/newsPost">News</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  
    
    
  </header>