body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixed position to keep it at the top */
    width: 100%; /* Occupy full width */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other elements */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: right; /* Align navigation to the right */
}

.navigation ul li {
    display: inline;
    margin-left: 20px; /* Adjust margin to create space between items */
}

.navigation ul li:first-child {
    margin-left: 0; /* Remove margin for the first item */
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout a {
    text-decoration: none;
    color: #333;
}


