<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Insight</title>
    <link rel="stylesheet" href="styles.css" />
    <%- include("../partials/header.ejs"); %>
  </head>
  <body>
    

    <footer>
      <div class="copyright">
        &copy; 2024 Health Insight. All rights reserved.
      </div>
    </footer>
  </body>
</html>
